/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* CODE STARTS HERE */
body {
    background-image: url(bg.png);
}

.container {
    width: 960px;
    height: 480px;
    background-color: rgba(255, 255, 255, 0.747);
    margin: auto;
    position: relative;
    top: 50px;
}

.judul {
    position: relative;
    z-index: 2;
    top: -30px;
    font-family: rockwell, sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #e7e7e7;
    text-shadow: 1.5px 1.5px 0 #333, 0px 1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px 1.5px 0 #333, 1.5px -1.5px 0 #333, 0.7778174593px 0.7778174593px 0 #aaaaaa, 1.5556349186px 1.5556349186px 0 #aaaaaa, 2.3334523779px 2.3334523779px 0 #aaaaaa, 3.1112698372px 3.1112698372px 0 #aaaaaa, 3.8890872965px 3.8890872965px 0 #aaaaaa, 4.6669047558px 4.6669047558px 0 #aaaaaa, 5.4447222151px 5.4447222151px 0 #aaaaaa, 6.2225396744px 6.2225396744px 0 #aaaaaa, 7.0003571337px 7.0003571337px 0 #aaaaaa, 7.7781745931px 7.7781745931px 0 #aaaaaa;
}

.container .vs {
    font-family: aharoni, sans-serif;
    color: rgb(41, 41, 41);
    font-size: 65px;
    text-align: center;
    margin: auto;
    position: relative;
    top:100px;
}

.container .score {
    font-family: aharoni, sans-serif;
    font-style: bold;
    font-size: 85px;
    position: relative;
    text-align: center;
    top: 110px;
    color: rgb(41, 41, 41);
}

.container .player {
    width: 250px;
    height: 340px;
    position: absolute;
    bottom: 15%;
    left: 80px;
    border: 4px solid rgb(41, 41, 41);
    background-color: white;
}

.container .player .presult {
    width: auto;
    height: 50px;
    border-bottom: 4px solid rgb(41, 41, 41);
    box-sizing: border-box;
}

.container .player .image {
    margin-top: 20px; 
    width: 250px;
}

.container .computer {
    width: 250px;
    height: 340px;
    position: absolute;
    bottom: 15%;
    right: 80px;
    border: 4px solid rgb(41, 41, 41);
    background-color: white;
}

.container .computer .cresult {
    width: auto;
    height: 50px;
    border-bottom: 4px solid rgb(41, 41, 41);
    box-sizing: border-box;
}

.container .computer .image {
    margin-top: 20px; 
    width: 250px;
}

.container .select:hover {
    cursor: pointer;
    
}

.container .select .image {
    width: 100px;
    height: 100px;
    
}

.container .select .rock .rborder {
    width: 100px;
    height: 100px;
    bottom: -50px;
    left: 300px;
    background-image: url(border.png);
    background-size: 100px;
    position: absolute;
}

.container .select .stext {
    position: relative;
    bottom: 18px;
    font-family: Fyodor;
    font-size: 45px;
    text-align: center;
}

.container .select .scissor .stext {
    right: 7px;
}

.container .select .paper .pborder {
    width: 100px;
    height: 100px;
    bottom: -50px;
    left: 430px;
    background-image: url(border.png);
    background-size: 100px;
    position: absolute;
}

.container .select .scissor .sborder {
    width: 100px;
    height: 100px;
    bottom: -50px;
    right: 300px;
    background-image: url(border.png);
    background-size: 100px;
    position: absolute;
}

.blue {
    color: rgb(131, 201, 224);
}

.red {
    color:lightcoral;
}

.container .presult, .container .cresult {
    font-family: aharoni, sans-serif;
    color:rgb(41, 41, 41);
    font-size: 40px;
    margin-top: 15px;
    text-align: center;
}


@font-face {
    font-family: Fyodor;
    src: url(Fyodor-BoldCondensed.ttf);
}

